# Project dependence files
.venv

# Project outputs
/tmps/
/tmps_old/
/d3rlpy*/
/source/joint_learning/datasets/*.hdf5
/source/joint_learning/model/
/source/joint_learning/plots/
/source/joint_learning/table/

# Python caches and artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd


# Editor/OS noise
Thumbs.db
Desktop.ini
