# Ignore all hidden directories (folders starting with '.')
.*/
**/.*/

# Project outputs
/tmps/
/d3rlpy*/

# Python caches and artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd


# Editor/OS noise
Thumbs.db
Desktop.ini
